[submodule "iGlance/Libraries/SMCKit"]
	path = iGlance/Libraries/SMCKit
	url = git@github.com:iglance/SMCKit.git
[submodule "iGlance/Libraries/SystemKit"]
	path = iGlance/Libraries/SystemKit
	url = git@github.com:iglance/SystemKit.git
[submodule "iGlance/Libraries/AppMover"]
	path = iGlance/Libraries/AppMover
	url = git@github.com:iglance/AppMover.git
